body{
    padding: 0;
    box-sizing: border-box;
    max-width: 712px;
    margin: 30px auto 30px auto;
    padding: 10px 10px 10px 10px;
    background: #141414;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.192);
    border-radius: 5px;
    min-height: 95vh;
}

header{
    display: flex;
    gap: 20px;
    border:1px solid rgba(128, 128, 128, 0.192) ;
    padding: 10px;
    align-items: center;
    border-radius: 5px;background: #0e0e0e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.381);
  
}
header img{
    border-radius: 5px;
}
h1 {
    font-size: 24px;
    line-height: 0;
  }

nav a{
    color: rgb(129, 128, 128);
    text-underline-offset: 8px;
    text-decoration: none;
}
nav a:hover{
    
  text-decoration: underline;
}
nav{
    
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
section {
    border:1px solid rgba(128, 128, 128, 0.192) ;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.4;
    margin: 20px 0;
    background: #0e0e0e;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.381);
  }

  ul {
    list-style:none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}
ul li span {
  font-weight: bold;
  font-size: medium;
  color: #000000;
}
.experience li{
    background-color:rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    color: #000000a3;
    font-weight: bold;
    /* font-weight: 500; */
    font-size: small;
    display: flex;
    justify-content: space-between;
    
 
}

.projects a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}
.projects span{
    text-decoration: none;
    background-color:rgb(255, 255, 255);
}
.projects span:hover{
    text-decoration: none;
    color: rgb(107, 107, 107);
}


#contact  a{
    text-decoration: none;
    color: white;
    font-size: small;
    gap: 10px;
}
#contact li{
    display: flex;
    gap: 14px;
}
#contact li:hover{
   color: rgba(185, 33, 33, 0.818);
}
.projects li{
    background-color:rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    color: #000000;
    font-weight: 500;
}

@media only screen and (max-width: 450px) {
    body{
        margin: 20px 4px 20px 4px;
    }
    h1 {
        font-size: 20px;
        line-height: 0;
      }
    nav{
        font-size: medium;
        margin-top: 20px;
        display: flex;
        gap: 12px;  
        align-items: center;
        justify-content: center;
    }
}
