body{
    padding: 0;
    box-sizing: border-box;
    max-width: 712px;
    margin: 55px auto 55px auto;
    padding: 55px;
    background: #0f0f0f;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.812);
    border: 1px solid rgba(128, 128, 128, 0.192);
    border-radius: 5px;
}

header{
    display: flex;
    gap: 20px;

}
header img{
    border-radius: 5px;
}
h1 {
    font-size: 24px;
    line-height: 0;
  }

nav a{
    color: rgb(129, 128, 128);
    text-underline-offset: 8px;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    text-decoration-style: wavy;
}
nav{
    font-size: medium;
    margin-top: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
}
section {
    line-height: 1.4;
    margin: 50px 0;
  }
  ul {
    list-style:none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}
ul li span {
  color: rgb(0, 0, 0);
  background-color:rgb(107, 107, 107);
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
  text-underline-offset: 6px;
  
}
.experience li{
 padding: 5px 0px ;
}
.projects a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}
.projects span{
    text-decoration: none;
    color: rgb(190, 187, 187);
}
.projects span:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#contact  a{
    text-decoration: none;
    color: white;
    font-size: small;
    gap: 10px;
}
#contact li{
    display: flex;
    gap: 14px;
}
#contact li:hover{
   color: rgba(185, 33, 33, 0.818);
}
.projects li{
    background-color:rgb(107, 107, 107);
    padding: 8px;
    border-radius: 5px;
    color: #000000;
    font-weight: 500;
}

@media only screen and (max-width: 450px) {
    nav{
        margin-right: 40px;
    }
    h1 {
        font-size: 20px;
        line-height: 0;
      }
      nav{
        font-size: medium;
        margin-top: 20px;
        display: flex;
        gap: 12px;  
        align-items: center;
    }
}
