
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Major+Mono+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body {
  padding: 0;
  box-sizing: border-box;
  max-width: 44.5rem; /* 712px */
  margin: 1.875rem auto; /* 30px */
  padding: 0.625rem; /* 10px */
  background: #141414;
  font-family: "Poppins", sans-serif;
  color: #eeeeec;
  /* border: 0.063rem solid rgba(128, 128, 128, 0.192);  */

  min-height: 95vh;
}

header {
  display: flex;
  gap: 1.25rem; /* 20px */
  /* border: 0.063rem solid rgba(128, 128, 128, 0.192);  */
  padding: 0.625rem; /* 10px */
  align-items: center;
  border-radius: 0.313rem; /* 5px */
  background: #0e0e0e;
}
img{
  border-radius: .313rem;
  border: 1px solid rgba(0, 0, 0, 0.492);
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.313rem; /* 5px */
}
.desc{
  font-size: 0.875rem; 
  font-weight: 500;
 
}
.chip {
  font-weight: 500;
  background-color: #242424;
  color: #ffffff;
  padding: 0.313rem 0.625rem; /* 5px 10px */
  border-radius: 0.313rem; /* 5px */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px */
  font-size: 0.813rem; /* 13px */
  white-space: nowrap;
}

.chip:hover {
  background-color: #3b3b3b;
}

header img {
  border-radius: 0.313rem; /* 5px */
}

h1 {
  font-size: 1.5rem; /* 24px */
  line-height: 0;
}

nav a {
  color: rgb(129, 128, 128);
  text-underline-offset: 0.5rem; /* 8px */
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav {
  font-size: 1rem; /* medium */
  margin: 1.25rem 0; /* 20px */
  display: flex;
  gap: 0.75rem; /* 12px */
  justify-content: center;
  align-items: center;
}

section {
  /* border: 0.063rem solid rgba(128, 128, 128, 0.192);  */
  padding: 0.625rem; /* 10px */
  border-radius: 0.313rem; /* 5px */
  line-height: 1.4;
  margin: 1.25rem 0; /* 20px */
  background: #0e0e0e;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.313rem 0; /* 0.5rem */
}

ul li span {
  font-weight: bold;
  font-size: 1rem; /* medium */
  color: #000000;
}

.experience li {
  background-color: #9e9e9e;
  padding: 0.5rem; /* 8px */
  border-radius: 0.313rem; /* 5px */
  color: #000000a3;
  font-weight: bold;
  font-size: 0.875rem; /* small */
  display: flex;
  justify-content: space-between;
}

.projects a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

.projects span {
  text-decoration: none;
  background-color: #9e9e9e;
}

.projects span:hover {
  text-decoration: none;
  color: rgb(248, 248, 248);
}

#contact a {
  text-decoration: none;
  color:  #a9a9a9;
  font-size:30px;
}


#contact ul{
  display: flex;
  gap: 20px;
  /* margin-left: 10px; */
}

#contact a:hover {
  color: #ffffff;
}

.projects li {
  background-color: #9e9e9e;
  padding: 0.5rem; /* 8px */
  border-radius: 0.313rem; /* 5px */
  color: #000000;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.about p {
  font-size: 0.875rem; /* 14px */
  
}

@media only screen and (max-width: 450px) { /* 450px */
  body {
      margin: 1.25rem 0.25rem; /* 20px 4px */
  }

  h1 {
      font-size: 1.25rem; /* 20px */
      line-height: 0;
  }

  nav {
      font-size: 1rem; /* medium */
      margin-top: 1.25rem; /* 20px */
      display: flex;
      gap: 0.75rem; /* 12px */
      align-items: center;
      justify-content: center;
  }
}

h5{
  /* border: 0.063rem solid rgba(128, 128, 128, 0.192);  */
   padding: 20px; 
   font-weight: 600; 
   background-color: #9e9e9e;
   border-radius: 5px;
   display: inline-block;
   /* flex-direction: column; */
   
   color: black;
}