@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Major+Mono+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  box-sizing: border-box;
  max-width: 600px;
  margin: 1.875rem auto;
  padding: 0.625rem;
  background: #141414;
  font-family: "Poppins", sans-serif;
  color: #eeeeec;
  min-height: 95vh;
}

header {
  display: flex;
  gap: 1.25rem;
  padding: 0.625rem;
  align-items: center;
  border-radius: 0.313rem;
  background: #0e0e0e;
}

header img {
  border-radius: 50%;
  border: 1px solid rgb(40, 40, 40);
}

h1 {
  font-size: 1.5rem;
  line-height: 0;
  margin-bottom: 20px;
}

nav {
  font-size: 1rem;
  margin: 1.25rem 0;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

nav a {
  color: rgb(129, 128, 128);
  text-underline-offset: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 0.625rem;
  border-radius: 0.313rem;
  line-height: 1.4;
  margin: 1.25rem 0;
  background: #0e0e0e;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.313rem;
}

.desc {
  font-size: 0.875rem;
  font-weight: 400;
}

.chip {
  font-weight: 500;
  background-color: #242424;
  color: #ffffff;
  padding: 0.313rem 0.625rem;
  border-radius: 0.313rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  font-size: 0.813rem;
  white-space: nowrap;
}

.chip:hover {
  background-color: #3b3b3b;
}

.about p {
  font-size: 0.875rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.313rem 0;
}

ul li span {
  font-size: 1rem;
  color: #ffffff;
}

.experience li {
  background: #141414;
  padding: 1rem;
  border-radius: 10px;
  color: #d6d6d6a3;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.projects a {
  color: #d6d6d6;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}

.projects span {
  text-decoration: none;
  background: #141414;
}

.projects span:hover {
  color: rgb(248, 248, 248);
}

#contact a {
  text-decoration: none;
  color: #a9a9a9;
  font-size: 30px;
}

#contact ul {
  display: flex;
  gap: 20px;
}

#contact a:hover {
  color: #ffffff;
}

.projects li {
  background: #141414;
  padding: 0.5rem;
  border-radius: 0.313rem;
  color: #d6d6d6;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

h5 {
  padding: 20px;
  font-weight: 600;
  background-color: #9e9e9e;
  border-radius: 5px;
  display: inline-block;
  color: black;
}

@media only screen and (max-width: 450px) {
  body {
    margin: 1.25rem 0.25rem;
  }

  h1 {
    font-size: 1.25rem;
    line-height: 0;
  }

  nav {
    font-size: 1rem;
    margin-top: 1.25rem;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
  }
}

#user{
  transition-duration:  30ms ease-out;
}
#user:hover{
  content: url("/pic2023.png");
}