@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Major+Mono+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  box-sizing: border-box;
  max-width: 600px;
  margin: 1.875rem auto;
  padding: 0.625rem;
  background: #141414;
  font-family: "Poppins", sans-serif;
  color: #eeeeec;
  min-height: 95vh;
}

header {
  display: flex;
  gap: 1.25rem;
  padding: 0.625rem;
  align-items: center;
  border-radius: 0.313rem;
  background: #0e0e0e;
}

header img {
  border-radius: 50%;
  border: 1px solid rgb(40, 40, 40);
}

h1 {
  font-size: 1.5rem;
  line-height: 0;
  margin-bottom: 20px;
}

nav {
  font-size: 1rem;
  margin: 1.25rem 0;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

nav a {
  color: rgb(217, 215, 215);
  text-underline-offset: 0.5rem;
  text-decoration: none;
  /* background: #0e0e0e; */
  font-size: medium;
  /* padding: 1px 2px; */
  /* border-radius: 5px; */
  /* gap: 1px; */
}

nav a:hover {
  /* background: #4f4f4f53;
   */
   text-decoration: underline;
}

section {
  padding: 0.625rem;
  border-radius: 0.313rem;
  line-height: 1.4;
  margin: 1.25rem 0;
  background: #0e0e0e;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.313rem;
}

.desc {
  color: #ffffff;
  font-size: 0.875rem;
}

.chip {
  font-weight: 500;
  background-color: #242424;
  color: #ffffff;
  padding: 0.313rem 0.625rem;
  border-radius: 0.313rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  font-size: smaller;
  white-space: nowrap;
}

.chip:hover {
  background-color: #3b3b3b;
}

.about p {
  font-size: 0.875rem;
  /* text-align: justify; */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.313rem 0;
}

ul li span {
  font-size: 1rem;
  color: #ffffff;
}

.experience li {
  background: #141414;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 0.875rem;
}

.projects a {
  font-weight: 500;
  background-color: #242424;
  color: #ffffff;
  padding: 0.313rem 0.625rem;
  border-radius: 0.313rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  font-size: 0.813rem;
  width: fit-content;
  text-decoration: none;
}
.projects a:hover{
  background: #000;
}
#more{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
  background-color:#0e0e0e;
  /* padding: 20px; */
  font-weight: 300;
}
#more:hover{
  text-decoration: underline;
}
.projects li{
  display: flex;
  flex-direction: column;
}

#contact a {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 30px;
}

#contact ul {
  display: flex;
  gap: 20px;
  background-color: #141414;
  border-radius: 10px;
  padding: 10px;
}

#contact a:hover {
  color: #ffffff;
}

.projects li {
  background: #141414;
  padding: 0.5rem;
  border-radius:10px;
  color: #d6d6d6;
  font-weight: 500;
  display: flex;
  gap: 10px;
}


#online{
  width:5px;
   height:5px;
    background-color: rgb(2, 255, 2);
     border-radius: 50%; 
     display: inline-block;
     margin-left: 10px;
}
h5 {
  padding: 10px;
  background: #141414;
  width: fit-content;
  font-weight: 300;
  border-radius: 10px;
  margin:  5px 0px;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 450px) {
  body {
    margin: 1.25rem 0.25rem;
  }

  h1 {
    font-size: 1.25rem;
    line-height: 0;
  }

  nav {
    font-size: 1rem;
    margin-top: 1.25rem;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
  }
}

#user{
  transition-duration:  30ms ease-out;
}
#user:hover{
  content: url("/pic2023.png");
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000; /* color of the track */
  border-radius: 1px; /* round corners */
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c; /* color of the scroll thumb */
  border-radius: 1px; /* round corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the thumb on hover */
}

/* For Firefox */
.scrollable-element {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: #1c1c1c #000000; /* thumb color and track color */
}




#theme-toggle{
  background: none;
  text-decoration: none;
  border: none;
  align-content: end;
  margin-left: auto;
  font-size: large;
}

.light-theme {
  background: #ffffff; 
  color: #000000; 
}
.light-theme header {
  background: #e0e0e0; 
}
.light-theme section {
  background: #e0e0e0; 
}
.light-theme nav a {
  color: #000;
}
.light-theme .experience li {
  color: #000;
  background: #ffffff; 
}
.light-theme .projects li {
  color: #000;
  background: #ffffff; 
}
.light-theme .desc  {
  color: #000;
}
.light-theme .projects a {
  color: #ffffff;
  background-color: #696969;
}
.light-theme .projects a:hover {
  color: #ffffff;
  background-color: #0f0f0f;
}
.light-theme .chip {
  background-color: #696969; 
}
.light-theme .chip:hover {
  background-color: #515151;
}
.light-theme #contact ul {
  background-color: #ffffff;
}
.light-theme #contact ul li a {
  color: #696969; 
}
.light-theme #contact ul li a:hover {
  color: #000000; 
}
.light-theme #more  {
  color: #000000; 
  background-color: #e0e0e0;
  box-shadow: none;
}
.light-theme h5 {
  color: #000000; 
  background-color: #ffffff;
  box-shadow: none;
}
