
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
  margin: 0 ;
  background-color: rgb(28, 27, 27);
  /* position: sticky; */
}
.navbar {
  top: 0;
  height: 150px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #000000, rgb(28, 27, 27) 100%);
  color: rgb(255, 255, 255);
  padding: 70px 222px 40px 222px;
  /* border-bottom: 0.1px solid rgb(241, 241, 241,.5); */
  /* border-width: ; */
  
  
}

.navLinks {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  /* font-weight: 700; */
}
.navbar ul{
  align-items: center;
}
.navbar a{
  /* border: solid 1px white; */
  border-radius: 4px;
  display: inline-block;  /* Ensures the width and height properties are respected */
  width: 90px;  /* Set the width you want */
  height: 40px;  /* Set the height you want */
  line-height: 40px;  /* Vertically center text */
  text-align: center;  /* Horizontally center text */
  text-decoration: none;  /* Remove underline */
  /* padding: 10px; */
  box-sizing: border-box;
  background: #3f3f3f;
  box-shadow:  5px 5px 19px rgba(0, 0, 0, 0.3);
  
}

.navbar a:hover{
  background: white;
  color: #000000;

}
.navLinks2 {

  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  text-align: justify;


}
.navLinks li {
  margin: 0;
}
.navLinks2 li {
  margin: 0;
}

.navLinks   a {
  color: rgb(255, 255, 255);
  /* text-decoration: wavy; */
   /* text-decoration-thickness: 1.5px;
  text-decoration-style: wavy;  */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navLinks2 a {
  color: rgb(255, 255, 255);
  /* text-decoration: wavy; */
  /* text-decoration-thickness: 1.5px;
  text-decoration-style: wavy;  */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}



@media (max-width: 1000px) {
  .navbar {
    padding: 70px 40px 40px 40px;
    font-size: 1.1em; /* Adjust padding for smaller screens */
  }

  .navbar a{
    width: 90px; 
  }
  .navLinks {
    margin: 0%;
    gap: 1rem; /* Maintain spacing between items */
    /* overflow-x: auto; Allow horizontal scrolling if needed */
  }
  .navLinks2 {
    margin: 0%;
    gap: 1rem; 
    /* overflow-x: auto; Allow horizontal scrolling if needed */
  }
}
